<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/litera/bootstrap.min.css" integrity="sha384-enpDwFISL6M3ZGZ50Tjo8m65q06uLVnyvkFO3rsoW0UC15ATBFz3QEhr3hmxpYsn" crossorigin="anonymous">    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" integrity="sha384-xeJqLiuOvjUBq3iGOjvSQSIlwrpqjSHXpduPd6rQpuiM3f5/ijby8pCsnbu5S81n" crossorigin="anonymous">

  <title>Nový používateľ</title>
</head>
<div class = "mx-4" th:fragment="adminadduser">
  <h1>Nový používateľ</h1>

  <form action="#" th:action="@{/backbone/user/save}" th:object="${user}" method="POST">
    <hr>
    <label class="form-label mt-4" for="inputLogin">User name</label>
    <input type="text" th:field="*{userName}" class="form-control col-4" id="inputLogin">
    <label class="form-label mt-4" for="inputpassword">User password</label>
    <input type="password" th:field="*{password}" class="form-control col-4" id="inputpassword">
    <label class="form-label mt-4" for="inputEmail">Email</label>
    <input type="email" th:field="*{email}" class="form-control col-4" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email">

    <label class="form-label mt-4" for="inputActive">Active</label>
    <input type="checkbox" th:field="*{active}" class="form-control col-1" id="inputActive">


    <label class="form-label mt-2" for="exampleSelect1">Department</label>
    </p>
    <select multiple=""  class="form-select" id="exampleSelect1" th:field="*{roles}">
      <option th:each="rol:${listOfRoles}" th:value="${rol.id}" th:text="${rol.role}"></option>
    </select>
    </p>

    <hr>

    <button type="submit" class="btn btn-info col-3">Save Employee</button>
  </form>


  <a th:href = "@{/backbone/user/all}"> Back to home page</a>
</div>
</html>