<div class = "mx-4 col-sm-7" th:fragment="adminusers">
    <div class="my-2">
        <!-- @ reprezentuje root webovu adresu aplikacie -->
        <h1>Používatelia</h1>
        <hr>
        <a th:href="@{/backbone/user/add}" class="btn btn-info mb-4 my-2 col-3">Nový používateľ</a>
        <table border="1" class="table table-striped table-responsive-md">
            <thead>
            <tr>
                <th>ID</th>
                <th>Oslovenie</th>
                <th>Meno</th>
                <th>Priezvisko</th>
                <th>Login</th>
                <th>Email</th>
                <th>Aktívny</th>
                <th>Rola</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user:${listOfUsers}">
                <td class="col-sm-1" th:text="${user.id}"></td>

                <td class="col-sm-1" th:text="${user.title}"></td>
                <td class="col-sm-1" th:text="${user.name}"></td>
                <td class="col-sm-1" th:text="${user.surname}"></td>

                <td class="col-sm-1" th:text="${user.userName}"></td>
                <td class="col-sm-2" th:text="${user.email}"></td>
                <td class="col-sm-1" th:text="${user.active}"></td>
                <td class="col-sm-1" th:text="${user.roles[0].role}"></td>
                <td class="col-sm-1" >
                    <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                        <a th:href="@{/backbone/user/update/{id}(id=${user.id})}" class="btn btn-info col-6">Update</a>
                        <a th:href="@{/backbone/user/delete/{id}(id=${user.id})}" class="btn btn-danger col-6">Delete</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        <div th:if = "${totalPages} > 1">
            <div class="row col-sm-8">
                <div class="col-sm-4">Počet použivateľov: [[${totalItems}]]</div>
                <div class="col-sm-2">
                    <span th:each = "i: ${#numbers.sequence(1, totalPages)}">
                        <a th:if = "${currentPage != i}" th:href="@{'/backbone/user/page/' + ${i}}" >[[${i}]]</a>
                        <span th:unless = "${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
                    </span>
                </div>
                <div class="col-sm-1">
                    <a th:if = "${currentPage < totalPages}" th:href="@{'/backbone/user/page/' + ${currentPage + 1}}" >Next</a>
                    <span th:unless = "${currentPage < totalPages}">Next</span> &nbsp; &nbsp;
                </div>
                <div class="col-sm-1">
                    <a th:if = "${currentPage < totalPages}" th:href="@{'/backbone/user/page/' + ${totalPages}}" >Last</a>
                    <span th:unless = "${currentPage < totalPages}">Last</span>
                </div>
            </div>
        </div>
        <hr>

    </div>
</div>
