<div class="mx-4 col-sm-8" th:fragment="userbasket">

        <div class="my-2">
            <!-- @ reprezentuje root webovu adresu aplikacie -->
            <h1>Košík</h1>
            <hr>
            <table border="0" class="table table-striped table-responsive-md">
                <thead>
                <tr>
                    <th>Položka</th>
                    <th></th>
                    <th>Farba</th>
                    <th>Velkosť</th>
                    <th>Počet</th>
                    <th>Cena</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="itm:${basketList}">
                    <td><img th:if="${itm.items?.photo}" th:src="@{${itm.items?.photosImagePath}}" th:width="100"/></td>
                    <td th:text="${itm.items?.name}"></td>
                    <td th:text="${itm.color}"></td>
                    <td th:text="${itm.size}"></td>
                    <td th:text="${itm.pcs}"></td>
                    <td th:text="${itm.items?.price}"></td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                            <a th:href="@{/basket/item/update/{userName}/{itemId}(userName=${#authentication.name}, itemId=${itm.id})}" class="btn btn-info col-6">Upraviť</a>
                            <a th:href="@{/basket/item/delete/{userName}/{itemId}(userName=${#authentication.name}, itemId=${itm.id})}" class="btn btn-danger col-6">Odobrať</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <hr>
            <!--div th:if="${totalPages} > 1">
                <div class="row col-sm-15">
                    <div class="col-sm-3">Počet položiek: [[${totalItems}]]</div>
                    <div class="col-sm-2">
                    <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                        <a th:if="${currentPage != i}" th:href="@{'/basket/item/page/' + ${i}}">[[${i}]]</a>
                        <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
                    </span>
                    </div>
                    div class="col-sm-1">
                    <a th:if="${currentPage < totalPages}"
                       th:href="@{'/basket/item/page/' + ${currentPage + 1}}">Next</a>
                    <span th:unless="${currentPage < totalPages}">Next</span> &nbsp; &nbsp;
                </div>
                <div class="col-sm-1">
                    <a th:if="${currentPage < totalPages}" th:href="@{'/basket/item/page/' + ${totalPages}}">Last</a>
                    <span th:unless="${currentPage < totalPages}">Last</span>
                </div>
            </div-->
        </div>
</div>